{% extends 'layouts/base.html' %}
{% block title %}
Pienapple account access request
{% endblock %}
{% block content %}
<div class="container" style="display:none;visibility:hidden;">
    <div class="row">
        <div class="col-xs-12">
            <h3>Hi, {{ user.handle }}!</h3>
        </div>
    </div>
    <div class="card card-container">
        <p>
            <b>{{ client.name }}</b> is requesting <b>full access</b> to your account. Do you approve?
        </p>

        <form action="/v1/oauth2/authorize" method="post">
            <input name="transaction_id" type="hidden" value="{{ transactionID }}">
            <div class="row">
                <div class="col-xs-6 text-center">
                    <input type="submit" value="Allow" id="allow" class="btn btn-primary btn-block btn-success">
                </div>
                <div class="col-xs-6 text-center">
                    <input type="submit" value="Deny" name="cancel" id="deny" class="btn btn-primary btn-block btn-danger">
                </div>
            </div>
        </form>
    </div><!-- /card-container -->
</div><!-- /container -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#allow').click();
    });
</script>
{% endblock %}